<% provide(:title, "Liên hệ") %>
<div id="main_content">
  <div id="contact_area">
    <div class="container">
      <h2 id="contact">Liên hệ trực tiếp</h2>
      <div id="contact_info">
        <div id="contact_info_left">
          <p>Cám ơn bạn đã tham quan website, nếu có bất kỳ thắc mắc nào, vui lòng liên hệ trực tiếp với chúng tôi qua số điện thoại hay địa chỉ bên duới.
          <br />
          <br />
          Hoặc bạn có thể phản hồi qua hộp thư mail bên duới: <a href="mailto:phamkhanh90@gmail.com" class="bold_text blue_text">phamkhanh90@gmail.com</a></p>
          <form action="#" method="post" id="contact_form">
            <fieldset>
              <ol>
                <li>
                  <label for="name">Tên của bạn</label><input type="text" name="name" value="" size="77" maxlength="" id="name" />
                </li>
                <li>
                  <label for="email">Địa chỉ email</label><input type="text" name="email" value="" size="77" maxlength="" id="email" />
                </li>
                <li>
                  <label for="email">Tiêu đề</label><input type="text" name="email" value="" size="77" maxlength="" id="subject" />
                </li>
                <li>
                  <label for="message">Nội dung liên hệ</label><textarea name="message" rows="10" cols="59" id="message"></textarea>
                </li>
                <li>
                  <input type="submit" value="SUBMIT" size="" maxlength="" />
                </li>
              </ol>
            </fieldset>
          </form>
        </div> <!-- END #contact_info_left -->
        <div id="contact_info_right">
          <div id="address">
            <h3>Địa Chỉ Chính</h3>
            <p><span class="bold_text"></span>
            • Địa chỉ: P601, Tầng 6, Tòa nhà EliNext
            <br>
             413/36 QL 50, P5, Q. 8, TP.HCM
            <br>
            • Điện thoại: (+84) 0121 7698 526
            <br>
            • Fax: (08) 3995 3428
            <br>
            • Email: phamkhanh90@gmail.com</p>
          </div> <!-- END #address -->
        </div> <!-- END #contact_info_right -->
      </div> <!-- END #contact_info -->
    </div> <!-- END .container -->
  </div> <!-- END #contact_area -->
</div> <!-- END #main_content -->
<iframe src="google.htm" width="820px" height="720px" frameborder="0"></iframe>
